* {
  box-sizing: border-box;
  margin: 0px;
  outline: none !important;
  padding: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-y: scroll;
}

body,
input,
button,
textarea {
  font-family: 'PT Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none !important;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.mdi {
  display: flex;
}

.title {
  color: #706f6f;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 992px !important;
  }
}
